html {
	box-sizing: border-box;
	color: #444;
	font: 300 18px/36px merriweather, serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 36px 0 0;
	font-family: ubuntu;
	letter-spacing: -0.06em;
	text-transform: uppercase;
}

p {
	margin: 36px 0 0;

	&:first-of-type {
		margin-top: 0;
	}
}
