html {
	box-sizing: border-box;
	color: #444;
	font: 300 16px/30px merriweather, serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	font-family: ubuntu;
	letter-spacing: -0.06em;
	text-transform: uppercase;
}
