.header {
	margin: 56px 0 0;

	&:first-child {
		margin-top: 0;
	}
}

.meta {
	color: #aaa;
	font-size: 10px;
	font-style: italic;
}

@media (min-width: 420px) {
	.header {
		display: flex;
		align-items: baseline;
		margin-top: 72px;

		h3 {
			margin: 0 24px 0 0;
		}
	}

	.meta {
		line-height: 16px;
	}
}
